.tab{
    width:50%;
    border:1px solid black;
    margin-left: 25%;
}
mat-card-content{
    border:1px solid rgb(0, 0, 0);
    
}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 25%;
  }
 .action{
  display:flex;
 }